#TheDotWaveTitle{
    position: relative;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
#TheDotWaveTitle h1{
    text-align: center;
    font-size: 6rem; 
    z-index: 1;
    color: white;
}
#TheDotWaveTitle p{
    text-align: center;
    font-size: 4rem; 
    z-index: 1;
    color: white;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}